<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    {% load static %}
    <script src="{% static 'bfu.js' %}?v=0003"></script>
</head>
<body>
    {% csrf_token %}
    <h1>Upload file</h1>
    <button onclick="document.querySelector('.inputFile').click();">Select file ...</button>
    <input id="inputFile" multiple class="inputFile" onchange="onSelectFile(event)" type="file" style="display: none;">

<!--     <h1>{{ resdict.filename }}</h1>
    <button onClick="getFileByParts('{{ resdict.filename }}', '{{ resdict.id }}', '{{ resdict.size }}')">Download</button>
 -->    <h1 id="filesize"></h1>
        <span id="procent"></span>

    <style>
        th {
          padding: 10px;
          background: lightgrey;  
        }
        td {
            padding: 10px;
        }
    </style>

    <table>
        <tr>
            <th>File mane</th>
            <th>Size</th>
            <th>Created</th>
        </tr>
        {% for el in elements %}        
        <tr style="background-color: {{ el.backgroundcolor }};">
            <td>{{ el.filename }}</td>
            <td style="text-align: center;">{{ el.size2 }}</td>
            <td>{{ el.created }}</td>
        </tr>
        {% endfor %}
    </table>


</body>
</html>